body {
    margin: 0;
    background-color: #fff;
}
main {
    min-width: 20vw;
    min-height: 20vw;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #999;
    overflow: hidden;
}
form {
    padding-top: 20px;
}
h2 {
    margin: 0;
    padding: 20px;
    font-size: 26px;
}
header {
    background-color: #99ceeb;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
#wynik {
    margin-top: 20px;
}
.res {
    padding: 30px;
    font-size: 20px;
    background-color: #b8f1c3;
}
.err {
    padding: 30px;
    background-color: #ff7373;
}
input {
    margin: .25em auto!important;
}